Customer claim.json
{
  "name": "Customer claim",
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {
          "trackLastMessageId": true
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -1680,
        -176
      ],
      "id": "0bc24193-b70a-4567-8f39-e0c033223353",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "o5GYcqWGZ2kSESVM",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97ec3165-6914-43b9-ad30-0b179a618f7a",
              "leftValue": "={{ $json.binary }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1296,
        -176
      ],
      "id": "e15efaeb-82f8-45f4-86bd-9260bed1a165",
      "name": "If"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        176,
        -592
      ],
      "id": "cfaa868a-10db-441b-a012-07bdbe46749c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "aVl4vdczlRIjwpSe",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Robust JSON extraction from AI agent output\nconst rawOutput = $input.first().json.output;\n\n// Try direct parse first\ntry {\n  return JSON.parse(rawOutput);\n} catch (e1) {\n  // Try stripping markdown code fences\n  const cleaned = rawOutput\n    .replace(/^```(?:json)?\\s*\\n?/i, '')\n    .replace(/\\n?```\\s*$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e2) {\n    // Try extracting JSON object from text\n    const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      try {\n        return JSON.parse(jsonMatch[0]);\n      } catch (e3) {\n        throw new Error(`Failed to parse AI output as JSON. Raw (first 500 chars): ${rawOutput.substring(0, 500)}`);\n      }\n    }\n    throw new Error(`No JSON object found in AI output. Raw (first 500 chars): ${rawOutput.substring(0, 500)}`);\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -720
      ],
      "id": "f6958d8b-7d9f-467a-b847-fc22b5eca47f",
      "name": "String json parser",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/fake_ui/claim",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        -736
      ],
      "id": "11471f21-36a1-4b18-b6c8-21c4294a5a96",
      "name": "Send data to playwright script",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the products from the attachment.\n\nKeep only the products sepcified in the email content.\n\nReturn only valid JSON.\nDo not include explanations, markdown, code fences, or any text outside the JSON.\n\nInput:\n- attachment: {{ $json.attachementData }}\n- email_content: {{ $json.email_content }}\n- sender_name: {{ $json.sender_name }}\n- email_subject: {{ $json.email_subject }}\n- email_received_date: {{ $json.date }}\n- email_sender: {{ $json.email_sender }}",
        "options": {
          "systemMessage": "=You are an expert customer claims analysis agent.\n\nYou receive the following inputs:\n\n- attachment_content: text extracted from one or more Purchase Order documents. 'N/A' if no attachment provided\n- email_content: Customer email describing the claim.\n- email_sender: Sender email address.\n- email_received_date: Date the email was received.\n- attachment_metadata:\n  - fileName\n  - fileType\n\nYou also have access to an HTTP verification tool.\n\nYour work MUST follow the workflow below.\n\n==================================================\nWORKFLOW\n==================================================\n\nSTEP 1 — Analyze the customer email\n\nRead email_content first and extract:\n\n- customer information\n- products mentioned\n- reported issues\n- quantities mentioned in the email\n- order numbers mentioned\n- item codes mentioned\n- any product identifiers\n- Order code\n\nDo not infer information.\n\nOnly extract what is explicitly present.\n\nFix typos or grammar on the product name if any\n\n--------------------------------------------------\n\nSTEP 2 — If attachment_content is 'N/A' | null | undefined skip this stepvand step 3. Else Parse the Purchase Order\n\nParse ALL purchase order items from attachment_content.\n\nExtract:\n\n- customer information\n- order information\n- vendor information\n- every product line\n- quantities\n- document numbers\n- lot numbers\n- item codes\n- descriptions\n- status\n\nIgnore:\n\n- page headers\n- page numbers\n- repeated headers\n- OCR artifacts\n- decorative text\n\nNever invent values.\n\nIf a value cannot be confidently extracted use:\n\n\"N/A\"\n\n--------------------------------------------------\n\nSTEP 3 — Match email products to the Purchase Order\n\nCompare every product mentioned in the email against the Purchase Order using semantic matching.\n\nProducts may match using:\n\n- item code\n- SKU\n- model number\n- product name\n- partial description\n- manufacturer code\n- order code\n- any uniquely identifying text\n\nIf a matching Purchase Order item is found:\n\n- Preserve all Purchase Order information for that product.\n- Mark the product as found in the attachment.\n\nIf a product mentioned in the email CANNOT be matched to any Purchase Order item:\n\n- DO NOT discard the product.\n- DO NOT filter it out.\n- Create a product entry using only the information available from the email.\n- Populate any unavailable fields with \"N/A\".\n- The product must still be included in the HTTP verification request.\n\nThe final products array must therefore contain:\n\n- all products matched from the Purchase Order\n- plus every additional product explicitly mentioned in the email, even if it does not exist in the Purchase Order.\n\nNever invent values that are not present in either the Purchase Order or the email.\n\n--------------------------------------------------\n\nSTEP 4 — Verify products using the HTTP tool\n\nBefore generating the final JSON, call the HTTP verification tool.\n\n\nAfter extracting all products and relevant information from the email, invoke the provided HTTP tool exactly once.\n\n### Search value priority\n\nDetermine the list of values to send using the following priority. Use the first available field only, and do not combine different field types.\n\n1. **Purchase order codes**\n   * If one or more purchase order codes are found, send the list of purchase order codes.\n\n2. **Lot numbers**\n   * If no purchase order codes are found, but one or more lot numbers are found, send the list of lot numbers.\n\n3. **Item codes**\n   * If neither purchase order codes nor lot numbers are found, but one or more item codes are found, send the list of item codes.\n\n4. **Product names**\n   * If none of the above are found, send the list of product names.\n\n### HTTP request\n\nUse a **POST** request.\n\nThe request body **must** contain only the following JSON structure:\n\n```json\n{\n  \"values\": [\n    \"string\"\n  ]\n}\n```\n\nDo **not** include any request metadata (headers, URL, method configuration, authentication, etc.). Provide only the JSON body. The HTTP tool is responsible for handling all request metadata.\n\n### Processing the response\n\n* Filter the HTTP tool response to include **only** records that match the customer name extracted from the email.\n* If the email does **not** contain a customer name, return an empty array.\n* If the HTTP tool returns an error, return only the error message without modification.\n\n--------------------------------------------------\n\nSTEP 5 — Merge verification results\n\nFor every extracted Purchase Order product:\n\nFind the matching ProductResult.\n\nA product is considered verified ONLY if ALL of the following match exactly:\n\n- itemCode\n- vendor name\n- customer name\n- order code\n\nIf all four fields match:\n\nexistsInSystem = ProductResult.existsInSystem\n\nOtherwise:\n\nexistsInSystem = false\n\nNever copy existsInSystem blindly from the tool.\n\nAlways validate the returned record first.\n\nDo not overwrite Purchase Order data using the HTTP response.\n\nThe HTTP response is ONLY used to populate existsInSystem.\n\n--------------------------------------------------\n\nSTEP 6 — Populate verifiedFromAttachment\n\nFor each product:\n\nIf the product was matched to a Purchase Order item, populate:\n\n{\n  \"attachmentName\": \"<attachment file name>\",\n  \"attachmentType\": \"<attachment file type>\"\n}\n\nIf the product was NOT found in the Purchase Order but was extracted from the customer email, populate:\n\n{\n  \"attachmentName\": \"N/A\",\n  \"attachmentType\": \"N/A\"\n}\n\nProducts that are not present in the Purchase Order MUST still be verified using the HTTP tool and included in the final JSON.\n\n--------------------------------------------------\n\nSTEP 7 — Generate issues\n\nPopulate the issues field as a numbered multiline string.\n\nEach line:\n\n<number>. <itemCode or product name> - <Purchase Order product name>: <issue>\n\nRules:\n\n- Rewrite only for grammar and clarity.\n- Preserve meaning.\n- Never invent causes.\n- Preserve uncertainty.\n- Repeat the issue for every affected product.\n- If the issue is unclear use:\n\nIssue not clearly specified; confirm with the customer\n\nFor all product with no verifiedFromAttachment and existInSytem : false, specify after the issue that they couldn't be found on booth the system and attachments\n\nIf no issues exist:\n\nreturn \"\"\n\n--------------------------------------------------\n\nSTEP 9 — Produce the final JSON\n\nReturn exactly one JSON object matching the provided schema.\n\n{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Claim\",\n  \"type\": \"object\",\n  \"required\": [\n    \"requestInfo\",\n    \"customer\",\n    \"products\",\n    \"issues\"\n  ],\n  \"properties\": {\n    \"issues\": {\n      \"type\": \"string\",\n      \"description\": \"Issues reported\"\n    },\n    \"requestInfo\": {\n      \"type\": \"object\",\n      \"description\": \"Information about the request email.\",\n      \"required\": [\"dateOfRequest\", \"requestor\"],\n      \"properties\": {\n        \"dateOfRequest\": {\n          \"type\": \"string\",\n          \"format\": \"date\",\n          \"description\": \"Date when the email was received.\"\n        },\n        \"requestor\": {\n          \"type\": \"string\",\n          \"description\": \"Name associated with the email.\"\n        }\n      },\n      \"additionalProperties\": false\n    },\n    \"customer\": {\n      \"type\": \"object\",\n      \"required\": [\n        \"name\",\n        \"organization\",\n        \"department\",\n        \"address\",\n        \"phone\",\n        \"email\"\n      ],\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"organization\": {\n          \"type\": \"string\"\n        },\n        \"department\": {\n          \"type\": \"string\"\n        },\n        \"address\": {\n          \"type\": \"object\",\n          \"required\": [\"street\", \"city\", \"state\", \"postalCode\"],\n          \"properties\": {\n            \"street\": {\n              \"type\": \"string\"\n            },\n            \"city\": {\n              \"type\": \"string\"\n            },\n            \"state\": {\n              \"type\": \"string\"\n            },\n            \"postalCode\": {\n              \"type\": \"string\"\n            }\n          },\n          \"additionalProperties\": false\n        },\n        \"phone\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        }\n      },\n      \"additionalProperties\": false\n    },\n    \"products\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"lineNumber\",\n          \"documentNumber\",\n          \"productName\",\n          \"itemCode\",\n          \"lotNumber\",\n          \"quantityOrdered\",\n          \"quantityBilled\",\n          \"quantityReceived\",\n          \"vendor\",\n          \"status\"\n        ],\n        \"properties\": {\n          \"lineNumber\": {\n            \"type\": \"integer\"\n          },\n          \"documentNumber\": {\n            \"type\": \"string\"\n          },\n          \"productName\": {\n            \"type\": \"string\"\n          },\n          \"itemCode\": {\n            \"type\": \"string\"\n          },\n          \"lotNumber\": {\n            \"type\": \"string\"\n          },\n          \"quantityOrdered\": {\n            \"type\": \"integer\"\n          },\n          \"quantityBilled\": {\n            \"type\": \"integer\"\n          },\n          \"orderCode\": {\n            \"type\": \"string\"\n          },\n          \"orderDate\": {\n            \"type\": \"string\",\n            \"format\": \"date\"\n          },\n          \"quantityReceived\": {\n            \"type\": \"integer\"\n          },\n          \"comments\": {\n            \"type\": \"string\"\n          },\n          \"existsInSystem\": {\n            \"type\": \"boolean\"\n          },\n          \"verifiedFromAttachment\": {\n            \"type\": [\"object\", \"null\"],\n            \"required\": [\"attachmentType\", \"attachmentName\"],\n            \"properties\": {\n              \"attachmentName\": {\n                \"type\": \"string\"\n              },\n              \"attachmentType\": {\n                \"type\": \"string\"\n              }\n            }\n          },\n          \"vendor\": {\n            \"type\": \"object\",\n            \"required\": [\"name\", \"id\"],\n            \"properties\": {\n              \"name\": {\n                \"type\": \"string\"\n              },\n              \"id\": {\n                \"type\": \"integer\"\n              }\n            },\n            \"additionalProperties\": false\n          },\n          \"status\": {\n            \"type\": \"string\",\n            \"enum\": [\"Fully Billed\", \"Pending Bill\"]\n          }\n        },\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"additionalProperties\": false\n}\n\nRules:\n\n- Do not output Markdown.\n- Do not output explanations.\n- Do not output the HTTP request.\n- Do not output intermediate reasoning.\n- Do not output the HTTP response.\n- Return only the final JSON.\n\n==================================================\nGENERAL EXTRACTION RULES\n==================================================\n\n- Never hallucinate values.\n- Missing values become \"N/A\".\n- Preserve descriptions exactly.\n- Preserve dates exactly as written.\n- Remove OCR artifacts.\n- Normalize whitespace.\n- Convert currency values into numeric values.\n- Preserve \"STD\" exactly.\n- Keep multiline descriptions intact.\n- Parse all Purchase Order items before filtering.\n- Filter products only after parsing all items.\n- If customer email is missing from the Purchase Order, use email_sender.\n- If the email specifies a quantity for a reported product, use that quantity for the returned product. Otherwise leave the quantity unchanged from the Purchase Order or \"N/A\" if unavailable.\n\nThe final output must conform exactly to the supplied JSON schema.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        -800
      ],
      "id": "d2513041-2b85-41f5-9d8c-cff3b04d62d6",
      "name": "Parse raw string into string JSON"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        -512
      ],
      "id": "20019d05-5ab2-470c-aa7c-99f279ea7f0c",
      "name": "Merge email content and attachment data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -816,
        -64
      ],
      "id": "3625b2f0-3cd3-47ec-bd04-07c01a545003",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "pdf"
            },
            {
              "fieldToAggregate": "xlsx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -512,
        -368
      ],
      "id": "ff02922a-f1a7-4dbc-9375-a3713428e372",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        -128
      ],
      "id": "f5347bc1-3a71-4f2e-86ba-1e68838a0be0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json }}",
        "options": {
          "joinPages": false,
          "keepSource": "both"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        64
      ],
      "id": "ffa0ff6f-935d-4fbc-af42-217b607a5d15",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "jsCode": "const emailData = new Map() \n\nif ($input.first().binary) {\n  const attachmentsBinary = [];\n  const attachments = Object.values($input.first().binary);\n  for (const attachment of attachments) {\n    attachmentsBinary.push({json:attachment});\n  }\n  emailData['binary'] = attachmentsBinary;\n}else {\n  emailData['attachementData'] = 'N/A'\n}\n\nemailData['email_content'] = $input.first().json.text;\nemailData['date'] = $input.first().json.date;\nemailData['sender_name'] = $input.first().json.from.value[0].name;\nemailData['email_sender'] = $input.first().json.from.value[0].address;\nemailData['email_subject'] = $input.first().json.subject;\n\nreturn emailData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        -176
      ],
      "id": "5aa49539-0e8e-465e-967f-00bc85813d26",
      "name": "Extract raw email data"
    },
    {
      "parameters": {
        "jsCode": "\nreturn {\n  json:{\n    pdf:$input.first().json\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        160
      ],
      "id": "dfd0dc43-9760-43df-bc00-10e6a628b645",
      "name": "Wrap pdf data into a single object"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [\n  {\n    json: {\n      xlsx: $input.all().map(item => item.json)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -32
      ],
      "id": "836c36da-7bc8-43c6-9e29-84af1935510c",
      "name": "Wrap xlsx data into a single object"
    },
    {
      "parameters": {
        "jsCode": "\nlet attachementData = '';\nfor(const pdf of $input.first().json.pdf) {\n  attachementData += `--------------------- DATA FROM PDF FILE ${pdf.fileName} --------------------------- \\n`\n  attachementData += pdf.text\n  attachementData += `-------------------------------------------------------------------------- \\n\\n`\n}\n\nfor(const xlsx of $input.first().json.xlsx){\n  attachementData += `--------------------- DATA FROM XLSX FILE --------------------------- \\n`\n  attachementData += JSON.stringify(xlsx)\n  attachementData += `-------------------------------------------------------------------------- \\n\\n`\n}\n\n\nreturn {\n  json:{\n    attachementData\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -384
      ],
      "id": "4187c4cd-a4e1-4ef0-bec2-4198d2d28bac",
      "name": "Concat all attachment content"
    },
    {
      "parameters": {
        "content": "## Email attachment extraction\nIt can handle xlsx and PDF file",
        "height": 560,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -192
      ],
      "id": "25671fc2-d56a-435e-8a74-0031c2f165e4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Email with attachment processing\n",
        "height": 608,
        "width": 1168,
        "color": "#3D4D51"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        -832
      ],
      "id": "c557cda9-1cf2-4c9e-859b-ea258a1ccdae",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d7c05ef9-077d-40b5-9492-89fb0112fe00"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "491666ae-c431-42b8-8f68-6789518fffa7",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -384,
        -16
      ],
      "id": "06fa34af-d101-4b04-a683-9f2a05297f13",
      "name": "Check file type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/fake_ui/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `DO not add request metadata, just send the JSON, HTTP tools will handle request metadata\n`, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        320,
        -576
      ],
      "id": "a8b2a0cc-83d9-43aa-b83c-19342fefe543",
      "name": "Product search1"
    },
    {
      "parameters": {
        "content": "## Saving report if all data matches",
        "height": 288,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -832
      ],
      "id": "0317c93f-c0b5-48a5-b3ef-9cd49025bd74",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()[0].json.binary"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -64
      ],
      "id": "5aeccc6c-7d14-42a0-a14e-84f910416928",
      "name": "Extract binary data"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Extract raw email data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Parse raw string into string JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract binary data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge email content and attachment data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse raw string into string JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "String json parser": {
      "main": [
        [
          {
            "node": "Send data to playwright script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send data to playwright script": {
      "main": [
        []
      ]
    },
    "Parse raw string into string JSON": {
      "main": [
        [
          {
            "node": "String json parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge email content and attachment data": {
      "main": [
        [
          {
            "node": "Parse raw string into string JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check file type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Concat all attachment content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Wrap xlsx data into a single object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Wrap pdf data into a single object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract raw email data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap pdf data into a single object": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap xlsx data into a single object": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concat all attachment content": {
      "main": [
        [
          {
            "node": "Merge email content and attachment data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check file type": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product search1": {
      "ai_tool": [
        [
          {
            "node": "Parse raw string into string JSON",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract binary data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "129f99e0-3f46-4aa7-b3b4-be4deae18102",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "177add875a1f635cd6d08fc662846957ccba89ab9583c6fcf2fd625331457fee"
  },
  "nodeGroups": [],
  "id": "UGxU2WnhN9MyTIec",
  "tags": []
}