Customer claim.json
{
  "name": "Customer claim",
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {
          "trackLastMessageId": true
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -1648,
        -176
      ],
      "id": "0bc24193-b70a-4567-8f39-e0c033223353",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "o5GYcqWGZ2kSESVM",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97ec3165-6914-43b9-ad30-0b179a618f7a",
              "leftValue": "={{ $json.binary }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1200,
        -16
      ],
      "id": "e15efaeb-82f8-45f4-86bd-9260bed1a165",
      "name": "If"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        -464
      ],
      "id": "cfaa868a-10db-441b-a012-07bdbe46749c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "aVl4vdczlRIjwpSe",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst jsonOutput = JSON.parse($input.first().json.output.replace(/^```(?:json)?\\s*|\\s*```$/g, \"\"));\n\nreturn jsonOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -672
      ],
      "id": "f6958d8b-7d9f-467a-b847-fc22b5eca47f",
      "name": "String json parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/fake_ui/claim",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        -672
      ],
      "id": "11471f21-36a1-4b18-b6c8-21c4294a5a96",
      "name": "Send data to playwright script",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the products from the attachment.\n\nKeep only the products sepcified in the email content.\n\nReturn only valid JSON.\nDo not include explanations, markdown, code fences, or any text outside the JSON.\n\nInput:\n- attachment: {{ $json.attachementData }}\n- email_content: {{ $json.email_content }}\n- sender_name: {{ $json.sender_name }}\n- email_subject: {{ $json.email_subject }}\n- email_received_date: {{ $json.date }}\n- email_sender: {{ $json.email_sender }}",
        "options": {
          "systemMessage": "=You are an expert customer claims analysis agent.\n\nYou receive the following inputs:\n\n- attachment_content: text extracted from one or more Purchase Order documents.\n- email_content: Customer email describing the claim.\n- email_sender: Sender email address.\n- email_received_date: Date the email was received.\n- attachment_metadata:\n  - fileName\n  - fileType\n\nYou also have access to an HTTP verification tool.\n\nYour work MUST follow the workflow below.\n\n==================================================\nWORKFLOW\n==================================================\n\nSTEP 1 — Analyze the customer email\n\nRead email_content first and extract:\n\n- customer information\n- products mentioned\n- reported issues\n- quantities mentioned in the email\n- order numbers mentioned\n- item codes mentioned\n- any product identifiers\n- Order code\n\nDo not infer information.\n\nOnly extract what is explicitly present.\n\nFix typos or grammar on the product name if any\n\n--------------------------------------------------\n\nSTEP 2 — Parse the Purchase Order\n\nParse ALL purchase order items from attachment_content.\n\nExtract:\n\n- customer information\n- order information\n- vendor information\n- every product line\n- quantities\n- document numbers\n- lot numbers\n- item codes\n- descriptions\n- status\n\nIgnore:\n\n- page headers\n- page numbers\n- repeated headers\n- OCR artifacts\n- decorative text\n\nNever invent values.\n\nIf a value cannot be confidently extracted use:\n\n\"N/A\"\n\n--------------------------------------------------\n\nSTEP 3 — Match email products to the Purchase Order\n\nCompare every product mentioned in the email against the Purchase Order using semantic matching.\n\nProducts may match using:\n\n- item code\n- SKU\n- model number\n- product name\n- partial description\n- manufacturer code\n- order code\n- any uniquely identifying text\n\nIf a matching Purchase Order item is found:\n\n- Preserve all Purchase Order information for that product.\n- Mark the product as found in the attachment.\n\nIf a product mentioned in the email CANNOT be matched to any Purchase Order item:\n\n- DO NOT discard the product.\n- DO NOT filter it out.\n- Create a product entry using only the information available from the email.\n- Populate any unavailable fields with \"N/A\".\n- The product must still be included in the HTTP verification request.\n\nThe final products array must therefore contain:\n\n- all products matched from the Purchase Order\n- plus every additional product explicitly mentioned in the email, even if it does not exist in the Purchase Order.\n\nNever invent values that are not present in either the Purchase Order or the email.\n\n--------------------------------------------------\n\nSTEP 4 — Verify products using the HTTP tool\n\nBefore generating the final JSON, call the HTTP verification tool exactly ONCE.\n\nBuild the request body using ONLY the matched Purchase Order products.\n\nExample payload:\n\n{\n  \"customer\": \"<customer name>\",\n  \"products\": [\n    {\n      \"product_name\": \"...\",\n      \"item_code\": \"...\",\n      \"order_code\": \"...\"\n    }\n  ]\n}\n\nDo not omit matched products.\n\nIf item_code is unavailable, send null.\n\nThe HTTP tool returns an array of ProductResult objects:\n\n{\n  \"itemCode\": \"...\",\n  \"productName\": \"...\",\n  \"vendor\": \"...\",\n  \"customerName\": \"...\",\n  \"orderCode\": \"...\",\n  \"orderDate\": \"...\",\n  \"existsInSystem\": true\n}\n\n--------------------------------------------------\n\nSTEP 5 — Merge verification results\n\nFor every extracted Purchase Order product:\n\nFind the matching ProductResult.\n\nA product is considered verified ONLY if ALL of the following match exactly:\n\n- itemCode\n- vendor name\n- customer name\n- order code\n\nIf all four fields match:\n\nexistsInSystem = ProductResult.existsInSystem\n\nOtherwise:\n\nexistsInSystem = false\n\nNever copy existsInSystem blindly from the tool.\n\nAlways validate the returned record first.\n\nDo not overwrite Purchase Order data using the HTTP response.\n\nThe HTTP response is ONLY used to populate existsInSystem.\n\n--------------------------------------------------\n\nSTEP 6 — Populate verifiedFromAttachment\n\nFor each product:\n\nIf the product was matched to a Purchase Order item, populate:\n\n{\n  \"attachmentName\": \"<attachment file name>\",\n  \"attachmentType\": \"<attachment file type>\"\n}\n\nIf the product was NOT found in the Purchase Order but was extracted from the customer email, populate:\n\n{\n  \"attachmentName\": \"N/A\",\n  \"attachmentType\": \"N/A\"\n}\n\nProducts that are not present in the Purchase Order MUST still be verified using the HTTP tool and included in the final JSON.\n\n--------------------------------------------------\n\nSTEP 7 — Generate issues\n\nPopulate the issues field as a numbered multiline string.\n\nEach line:\n\n<number>. <itemCode or product name> - <Purchase Order product name>: <issue>\n\nRules:\n\n- Rewrite only for grammar and clarity.\n- Preserve meaning.\n- Never invent causes.\n- Preserve uncertainty.\n- Repeat the issue for every affected product.\n- If the issue is unclear use:\n\nIssue not clearly specified; confirm with the customer\n\nThe last line is a summary for all product with no verifiedFromAttachment and existInSytem : false, specify the product with the issue and explain that they can't be found on booth the system and attachments\n\nIf no issues exist:\n\nreturn \"\"\n\n--------------------------------------------------\n\nSTEP 9 — Produce the final JSON\n\nReturn exactly one JSON object matching the provided schema.\n\n{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Claim\",\n  \"type\": \"object\",\n  \"required\": [\n    \"requestInfo\",\n    \"customer\",\n    \"products\",\n    \"issues\"\n  ],\n  \"properties\": {\n    \"issues\": {\n      \"type\": \"string\",\n      \"description\": \"Issues reported\"\n    },\n    \"requestInfo\": {\n      \"type\": \"object\",\n      \"description\": \"Information about the request email.\",\n      \"required\": [\"dateOfRequest\", \"requestor\"],\n      \"properties\": {\n        \"dateOfRequest\": {\n          \"type\": \"string\",\n          \"format\": \"date\",\n          \"description\": \"Date when the email was received.\"\n        },\n        \"requestor\": {\n          \"type\": \"string\",\n          \"description\": \"Name associated with the email.\"\n        }\n      },\n      \"additionalProperties\": false\n    },\n    \"customer\": {\n      \"type\": \"object\",\n      \"required\": [\n        \"name\",\n        \"organization\",\n        \"department\",\n        \"address\",\n        \"phone\",\n        \"email\"\n      ],\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"organization\": {\n          \"type\": \"string\"\n        },\n        \"department\": {\n          \"type\": \"string\"\n        },\n        \"address\": {\n          \"type\": \"object\",\n          \"required\": [\"street\", \"city\", \"state\", \"postalCode\"],\n          \"properties\": {\n            \"street\": {\n              \"type\": \"string\"\n            },\n            \"city\": {\n              \"type\": \"string\"\n            },\n            \"state\": {\n              \"type\": \"string\"\n            },\n            \"postalCode\": {\n              \"type\": \"string\"\n            }\n          },\n          \"additionalProperties\": false\n        },\n        \"phone\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        }\n      },\n      \"additionalProperties\": false\n    },\n    \"products\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"lineNumber\",\n          \"documentNumber\",\n          \"productName\",\n          \"itemCode\",\n          \"lotNumber\",\n          \"quantityOrdered\",\n          \"quantityBilled\",\n          \"quantityReceived\",\n          \"vendor\",\n          \"status\"\n        ],\n        \"properties\": {\n          \"lineNumber\": {\n            \"type\": \"integer\"\n          },\n          \"documentNumber\": {\n            \"type\": \"string\"\n          },\n          \"productName\": {\n            \"type\": \"string\"\n          },\n          \"itemCode\": {\n            \"type\": \"string\"\n          },\n          \"lotNumber\": {\n            \"type\": \"string\"\n          },\n          \"quantityOrdered\": {\n            \"type\": \"integer\"\n          },\n          \"quantityBilled\": {\n            \"type\": \"integer\"\n          },\n          \"orderCode\": {\n            \"type\": \"string\"\n          },\n          \"orderDate\": {\n            \"type\": \"string\",\n            \"format\": \"date\"\n          },\n          \"quantityReceived\": {\n            \"type\": \"integer\"\n          },\n          \"comments\": {\n            \"type\": \"string\"\n          },\n          \"existsInSystem\": {\n            \"type\": \"boolean\"\n          },\n          \"verifiedFromAttachment\": {\n            \"type\": [\"object\", \"null\"],\n            \"required\": [\"attachmentType\", \"attachmentName\"],\n            \"properties\": {\n              \"attachmentName\": {\n                \"type\": \"string\"\n              },\n              \"attachmentType\": {\n                \"type\": \"string\"\n              }\n            }\n          },\n          \"vendor\": {\n            \"type\": \"object\",\n            \"required\": [\"name\", \"id\"],\n            \"properties\": {\n              \"name\": {\n                \"type\": \"string\"\n              },\n              \"id\": {\n                \"type\": \"integer\"\n              }\n            },\n            \"additionalProperties\": false\n          },\n          \"status\": {\n            \"type\": \"string\",\n            \"enum\": [\"Fully Billed\", \"Pending Bill\"]\n          }\n        },\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"additionalProperties\": false\n}\n\nRules:\n\n- Do not output Markdown.\n- Do not output explanations.\n- Do not output the HTTP request.\n- Do not output intermediate reasoning.\n- Do not output the HTTP response.\n- Return only the final JSON.\n\n==================================================\nGENERAL EXTRACTION RULES\n==================================================\n\n- Never hallucinate values.\n- Missing values become \"N/A\".\n- Preserve descriptions exactly.\n- Preserve dates exactly as written.\n- Remove OCR artifacts.\n- Normalize whitespace.\n- Convert currency values into numeric values.\n- Preserve \"STD\" exactly.\n- Keep multiline descriptions intact.\n- Parse all Purchase Order items before filtering.\n- Filter products only after parsing all items.\n- If customer email is missing from the Purchase Order, use email_sender.\n- If the email specifies a quantity for a reported product, use that quantity for the returned product. Otherwise leave the quantity unchanged from the Purchase Order or \"N/A\" if unavailable.\n\nThe final output must conform exactly to the supplied JSON schema.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        -672
      ],
      "id": "d2513041-2b85-41f5-9d8c-cff3b04d62d6",
      "name": "Parse raw string into string JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the customer claim based on the inputs below\n\nReturn only valid JSON.\nDo not include explanations, markdown, code fences, or any text outside the JSON.\n\n- email content :  {{ $json.email_content }}\n- sender_email : {{ $json.email_sender }}\n- sender_name : {{ $json.sender_name }}\n- email_subject : {{ $json.email_subject }}\n- email_received_date: {{ $json.date }}",
        "options": {
          "systemMessage": "=You are a Customer Claims Analysis Agent.\n\nYour responsibility is to analyze incoming customer emails, extract all relevant order, customer, and product information, structure the extracted data, and invoke the provided HTTP tool with the resulting JSON payload.\n\n==================================================\nINPUTS\n==================================================\n\nYou will receive the following inputs:\n\n- email_content: The full email body.\n- sender_email: The sender's email address.\n- sender_name: The sender's display name.\n- email_subject: The subject line of the email.\n- email_received_date: The date when the email was received\n\n==================================================\nOBJECTIVE\n==================================================\n\nYour goal is to identify every product referenced in the customer's claim and extract as much relevant information as possible.\n\nThe extracted information will be used to search internal systems for additional data.\n\nDo not summarize the email.\n\nDo not answer the customer.\n\nYour task is only to extract structured information and invoke the HTTP tool.\n\n==================================================\nINFORMATION TO EXTRACT\n==================================================\n\n1. Order Information\n\nExtract any order identifier if present, including but not limited to:\n\n- Order Number\n- Order Code\n- Order Reference\n- Purchase Order (PO)\n- Sales Order\n- Reference Number\n\nReturn the exact value as written in the email.\n\nIf none exists, leave it empty.\n\n--------------------------------------------------\n\n2. Customer Information\n\nDetermine the customer's organization or company name.\n\nPossible sources include:\n\n- Email signature\n- Email body\n- Sender display name\n- Company name mentioned in the email\n- Email domain (only if it clearly identifies the company)\n\nIf no organization can be confidently identified, use an empty string (\"\").\n\n--------------------------------------------------\n\n3. Product Information\n\nFor EVERY product mentioned in the email, extract:\n\n- product_name\n- item_code\n- quantity\n\nRules:\n\n- Extract every product mentioned.\n- One email may contain multiple products.\n- FIx typos or grammar mistakes if any\n- Preserve item code capitalization exactly.\n- Do not invent missing information.\n- If item_code cannot be found, use null.\n- If quantity cannot be found, ignore it (it is not part of the search payload).\n\nIgnore greetings, signatures, legal disclaimers, and unrelated text unless they contain customer information.\n\n==================================================\nSEARCH DATA STRUCTURE\n==================================================\n\nCreate one SearchData object for each product.\n\nSchema:\n\n    SearchData {\n        customer: string;\n        products: ProducInfo[];\n    }\n\n    ProducInfo{\n        item_code: string;\n        product_name: string;\n        order_codes: string;\n    }\n\nExample:\n\n    {\n        \"customer\":\"Customer 01\"\n        \"products\": [\n            {\n                \"product_name\": \"Wheel\",\n                \"item_code\": null,\n                \"order_code\":\"KHDI-838\n            },\n            {\n                \"product_name\": \"Hooks\",\n                \"item_code\": \"CO1\",\n                \"order_code\":\"DHE-099843\"\n            }\n        ]\n    }\n\n==================================================\nHTTP TOOL INVOCATION\n==================================================\n\nAfter extracting all products, invoke the provided HTTP tool.\n\nUse a POST request.\n\nThe JSON body MUST follow this format:\n\n{\n        \"customer\":\"Customer 01\"\n        \"products\": [\n            {\n                \"product_name\": \"Wheel\",\n                \"item_code\": null,\n                \"order_code\":\"KHDI-838\n            },\n            {\n                \"product_name\": \"Hooks\",\n                \"item_code\": \"CO1\",\n                \"order_code\":\"DHE-099843\"\n            }\n        ]\n}\n\nThe \"data\" array must contain one object for every extracted product.\nDO not add request metadata, set just the JSON data, HTTP tolls will handle request metadata.\n\nFrom the HTTP tools output, filter all data that match only the customer name, if the customer name is not specified return empty array.\n\nIf the HTTP tools return an error, just return the error message\n\n==================================================\nEDGE CASES\n==================================================\n\nIf multiple products share the same customer, repeat the customer value for each object.\n\nIf no customer organization can be identified, use:\n\n\"customer\": \"\"\n\nIf an item code is unavailable, use:\n\n\"item_code\": null\n\nIf no products are found, invoke the HTTP tool with:\n\n{\n    \"data\": []\n}\n\nNever fabricate information.\n\nNever infer product codes.\n\nNever merge different products into one object.\n\n==================================================\nOUTPUTS\n==================================================\n\nYour response MUST be a single valid JSON object.\n\nMandatory Rules\nOutput ONLY the JSON object.\nDo NOT output Markdown.\nDo NOT wrap the JSON in ```json code fences.\nDo NOT output explanations.\nDo NOT output reasoning.\nDo NOT output analysis.\nDo NOT output notes.\nDo NOT output status messages.\nDo NOT output conversational text such as \"Let me...\", \"I found...\", or \"Now I will...\".\nDo NOT output arrays surrounding the JSON object.\nDo NOT output any characters before the opening {.\nDo NOT output any characters after the closing }.\nDo NOT include comments inside the JSON.\nDo NOT invent fields or omit required fields.\n\n{\n  \"type\": \"object\",\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"required\": [\"success\", \"data\", \"issues\"],\n  \"properties\": {\n    \"data\": {\n      \"type\": \"object\",\n      \"required\": [\"products\"],\n      \"properties\": {\n        \"products\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"required\": [\n              \"itemCode\",\n              \"productName\",\n              \"vendor\",\n              \"customerName\",\n              \"orderCode\",\n              \"existsInSystem\"\n            ],\n            \"properties\": {\n              \"vendor\": {\n                \"type\": \"string\"\n              },\n              \"itemCode\": {\n                \"type\": \"string\"\n              },\n              \"orderCode\": {\n                \"type\": \"string\"\n              },\n              \"productName\": {\n                \"type\": \"string\"\n              },\n              \"customerName\": {\n                \"type\": \"string\"\n              },\n              \"comments\": {\n                \"type\": \"string\"\n              },\n              \"existsInSystem\": {\n                \"type\": \"boolean\"\n              },\n              \"verifiedFromAttachment\": {\n                \"type\": [\"object\", \"null\"],\n                \"required\": [\"attachmentType\", \"attachmentName\"],\n                \"properties\": {\n                  \"attachmentName\": {\n                    \"type\": \"string\"\n                  },\n                  \"attachmentType\": {\n                    \"type\": \"string\"\n                  }\n                },\n                \"additionalProperties\": false\n              }\n            },\n            \"additionalProperties\": false\n          }\n        }\n      },\n      \"additionalProperties\": false\n    },\n    \"issues\": {\n      \"type\": \"string\"\n    },\n    \"success\": {\n      \"type\": \"boolean\"\n    }\n  },\n  \"additionalProperties\": false\n}\n\nPopulate the \"issues\" field as a numbered multi-line string.\n\nIf multiple product with the same name and for the same customer has been found on the system and it can't be inferd which one has the issue, retrieve all, populate the comments section and the specify at the product line issue the fact that multiple product matches and need to be confirmed to the customer.\n\nEach line must use the format:\n\n<number>. <item_code> - <Product name>: <issue> (Référence found/not found in the system)\n\nWhere:\n- <item_code> comes from the matched Purchase Order item.\n- <Purchase Order description> is the item's description from the Purchase Order.\n- <issue> is a concise rewrite of the customer's reported problem.\n\nIssue rewriting rules:\n- Rewrite only to improve clarity and grammar.\n- Preserve the original meaning.\n- Do not infer causes, diagnoses, or solutions.\n- Do not add information that is not explicitly stated in the email.\n- If the customer expresses uncertainty (e.g. \"seems\", \"appears\", \"looks like\", \"might be\"), preserve that uncertainty.\n- If multiple items share the same issue, output one line per item.\n- If the issue is not clear or not clearlly specified just use \"Issue not clearly specified; confirm with the customer\"\n- If no issue is associated with a matched item, omit that item from the \"issues\" field.\n- If no issues are reported, return an empty string (\"\").\n- If the nomber of products which have issue is specified, add it\n- Specify in bracet is the product was found in the system (Référence found/not found in the system)\n\nExample:\n\n1. B5B - PA with Radio: radio appears to be not working\n2. B17 - Red Light at Emergency Door: 3 out of 25 incorrect voltage (12V instead of 5V)\n3. C6 - 270 Amp Alternator L/N 4864: damaged during transport\n\nFor the success field put false if the tools return an error, else put true\nFor the \"verifiedFromAttachment\" put :\n{\n    \"attachmentType\":\"N/A\",\n     \"attachmentName\":\"N/A\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -848,
        560
      ],
      "id": "4af752a1-f9c0-468b-a2d6-bd53cfd8fdc4",
      "name": "No attachment email"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -880,
        768
      ],
      "id": "98a9dc73-9ba4-4df7-bd2e-5ea794b9f2b5",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "aVl4vdczlRIjwpSe",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        -672
      ],
      "id": "20019d05-5ab2-470c-aa7c-99f279ea7f0c",
      "name": "Merge email content and attachment data"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst jsonOutput = JSON.parse($input.first().json.output.replace(/^```(?:json)?\\s*|\\s*```$/g, \"\")\n)\n\nreturn jsonOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        560
      ],
      "id": "9b460a46-2044-4585-b4db-a0b4d3afaf26",
      "name": "String json parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -576,
        32
      ],
      "id": "3625b2f0-3cd3-47ec-bd04-07c01a545003",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "pdf"
            },
            {
              "fieldToAggregate": "xlsx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -400,
        -512
      ],
      "id": "ff02922a-f1a7-4dbc-9375-a3713428e372",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -128,
        -128
      ],
      "id": "f5347bc1-3a71-4f2e-86ba-1e68838a0be0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json }}",
        "options": {
          "joinPages": false,
          "keepSource": "both"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -128,
        64
      ],
      "id": "ffa0ff6f-935d-4fbc-af42-217b607a5d15",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "jsCode": "const emailData = new Map() \n\nif ($input.first().binary) {\n  const attachmentsBinary = [];\n  const attachments = Object.values($input.first().binary);\n  for (const attachment of attachments) {\n    attachmentsBinary.push({json:attachment});\n  }\n  emailData['binary'] = attachmentsBinary;\n}\n\nemailData['email_content'] = $input.first().json.text;\nemailData['date'] = $input.first().json.date;\nemailData['sender_name'] = $input.first().json.from.value[0].name;\nemailData['email_sender'] = $input.first().json.from.value[0].address;\nemailData['email_subject'] = $input.first().json.subject;\n\nreturn emailData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -176
      ],
      "id": "5aa49539-0e8e-465e-967f-00bc85813d26",
      "name": "Extract raw email data"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()[0].json.binary"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        32
      ],
      "id": "171070c6-d7e3-46ba-a2b1-52ebf696fac5",
      "name": "Extract binary data"
    },
    {
      "parameters": {
        "jsCode": "\nreturn {\n  json:{\n    pdf:$input.first().json\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        160
      ],
      "id": "dfd0dc43-9760-43df-bc00-10e6a628b645",
      "name": "Wrap pdf data into a single object"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [\n  {\n    json: {\n      xlsx: $input.all().map(item => item.json)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -32
      ],
      "id": "836c36da-7bc8-43c6-9e29-84af1935510c",
      "name": "Wrap xlsx data into a single object"
    },
    {
      "parameters": {
        "jsCode": "\nlet attachementData = '';\nfor(const pdf of $input.first().json.pdf) {\n  attachementData += `--------------------- DATA FROM PDF FILE ${pdf.fileName} --------------------------- \\n`\n  attachementData += pdf.text\n  attachementData += `-------------------------------------------------------------------------- \\n\\n`\n}\n\nfor(const xlsx of $input.first().json.xlsx){\n  attachementData += `--------------------- DATA FROM XLSX FILE --------------------------- \\n`\n  attachementData += JSON.stringify(xlsx)\n  attachementData += `-------------------------------------------------------------------------- \\n\\n`\n}\n\n\nreturn {\n  json:{\n    attachementData\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -592
      ],
      "id": "4187c4cd-a4e1-4ef0-bec2-4198d2d28bac",
      "name": "Concat all attachment content"
    },
    {
      "parameters": {
        "content": "## Email attachment extraction\nIt can handle xlsx and PDF file",
        "height": 544,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -864,
        -160
      ],
      "id": "25671fc2-d56a-435e-8a74-0031c2f165e4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Email with attachment processing\n",
        "height": 448,
        "width": 1536,
        "color": "#3D4D51"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -736
      ],
      "id": "c557cda9-1cf2-4c9e-859b-ea258a1ccdae",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Email without attachment handler\n",
        "height": 480,
        "width": 944,
        "color": "#517661"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        464
      ],
      "id": "a92a2f95-8678-42dd-851c-b5575cbf2f8c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d7c05ef9-077d-40b5-9492-89fb0112fe00"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "491666ae-c431-42b8-8f68-6789518fffa7",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        -32
      ],
      "id": "06fa34af-d101-4b04-a683-9f2a05297f13",
      "name": "Check file type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/fake_ui/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `DO not add request metadata, just send the JSON, HTTP tools will handle request metadata\n`, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        416,
        -464
      ],
      "id": "a8b2a0cc-83d9-43aa-b83c-19342fefe543",
      "name": "Product search1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/fake_ui/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `DO not add request metadata, just send the JSON, HTTP tools will handle request metadata\n`, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -640,
        768
      ],
      "id": "69603f59-49df-4b75-9346-6317eed2ac8c",
      "name": "Product search"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Extract raw email data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract binary data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No attachment email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse raw string into string JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "String json parser": {
      "main": [
        [
          {
            "node": "Send data to playwright script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send data to playwright script": {
      "main": [
        []
      ]
    },
    "Parse raw string into string JSON": {
      "main": [
        [
          {
            "node": "String json parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "No attachment email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge email content and attachment data": {
      "main": [
        [
          {
            "node": "Parse raw string into string JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No attachment email": {
      "main": [
        [
          {
            "node": "String json parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check file type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Concat all attachment content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Wrap xlsx data into a single object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Wrap pdf data into a single object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract raw email data": {
      "main": [
        [
          {
            "node": "Merge email content and attachment data",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract binary data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap pdf data into a single object": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap xlsx data into a single object": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concat all attachment content": {
      "main": [
        [
          {
            "node": "Merge email content and attachment data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check file type": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product search1": {
      "ai_tool": [
        [
          {
            "node": "Parse raw string into string JSON",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Product search": {
      "ai_tool": [
        [
          {
            "node": "No attachment email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "67013703-de90-4ecc-b98a-f3dee7464ed4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "177add875a1f635cd6d08fc662846957ccba89ab9583c6fcf2fd625331457fee"
  },
  "nodeGroups": [],
  "id": "UGxU2WnhN9MyTIec",
  "tags": []
}